$primary-color: #000;
$secondary-color: #fafafa;
$accent-color: white;
$border-color: #eae4e4;
$background-color: #fafafa;
$text-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.5);
$font-size: 16px;
$font-weight-bold: 700;
$border-radius: 5px;

